body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    font-weight: 700;
}

/* Header and navigation styling */
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e8491d;
    color: #ffffff;
}

/* Main content styling */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Card styling */
.card {
    background: #ffffff;
    
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 0.5rem;
}

.card ul li a {
    text-decoration: none;
    color: #e8491d;
}

/* Footer styling */
footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0.5rem 0;
}